<a href="https://colab.research.google.com/github/21IRV/IS170/blob/main/K_NearestNeighbors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load libraries and read file
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import preprocessing 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

df = pd.read_csv("/content/Loan_Default.csv")

In [ ]:
df.columns
#Credit_Score, property_value, income, dtir1
df.drop(df.columns.difference(['Credit_Score','property_value', 'income','dtir1']), 1, inplace=True)
df

<ipython-input-5-84c70230c52d>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['Credit_Score','property_value', 'income','dtir1']), 1, inplace=True)

        property_value   income  Credit_Score  dtir1
0             118000.0   1740.0           758   45.0
1                  NaN   4980.0           552    NaN
2             508000.0   9480.0           834   46.0
3             658000.0  11880.0           587   42.0
4             758000.0  10440.0           602   39.0
...                ...      ...           ...    ...
148665        608000.0   7860.0           659   48.0
148666        788000.0   7140.0           569   15.0
148667        728000.0   6900.0           702   49.0
148668        278000.0   7140.0           737   29.0
148669        558000.0   7260.0           830   44.0

[148670 rows x 4 columns]

In [ ]:
# dropping all record with at least one missing value
df = df.dropna()

In [ ]:
# loading all values intp an array
X = df.iloc[:, :2].values
Y = df.iloc[:, 3].values
print(df.columns.get_loc('Credit_Score'))
print(df.iloc[:, 2].values)

2
[758 834 587 ... 702 737 830]

In [ ]:
#Import train_test_split function
from sklearn.model_selection import train_test_split

#split dataset into training set and test set
#70% training and 30% test
X_train, X_test, y_train, y_test=train_test_split(X, Y, test_size=0.2)

In [ ]:
#Generating a model with K=13
#Import k-nearest neighbors classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn=KNeighborsClassifier(n_neighbors=13)

#Train the model using the training sets
knn.fit(X_train,y_train)

#Predict the response for test dataset
y_pred=knn.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

#Model accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.04335422693667631

Dear Boss man, 

The machine learning algorithm I have developed to predict if a new borrower will default on their loan. This algorithm uses data to make accurate predictions, giving us the ability to make informed decisions about which borrowers will default on thier loan. The algorithm is based on borrower's credit score, income, debt to income ratio. This will be significant to the business by allowing us reduce the business's overall risk.

best,

Irvin Del Rio