<a href="https://colab.research.google.com/github/21IRV/IS170/blob/main/Python%26FeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello Fresno State') #this is a comment

Hello Fresno State

In [ ]:
print(2+8)

10

In [ ]:
print(85-48)

37

In [ ]:
print(6*2)

12

In [ ]:
print(20/5)

4.0

In [ ]:
print(2+7+8)

17

In [ ]:
print(8-2*4)

0

In [ ]:
print((7-2)*3)

15

In [ ]:
print(4*4*4)
print(4**3)

64
64

In [ ]:
 print (3*4-3)
 print ((2*4)-3)
 print (15/(7-2))
 print (7+5-3)
 print ((7+5)-3)
 print (7+(5-3))
 print ((7*2)-(2+2))
 print ((3+2)**(4-2))

9
5
3.0
9
9
9
10
25

In [ ]:
print ('8+3')

8+3

In [ ]:
 print (('7+5= '), (7+5))
 print ((7*8*2), ('is the answer to 7 * 8 * 2'))

7+5=  12
112 is the answer to 7 * 8 * 2

In [ ]:
#variables In Python

In [ ]:
 year=2023

In [ ]:
print (year)                 # notice that we DO NOT put year in quotes
print (year+6)
print (year-3)
print ((year-2)+10)
print (('The current year is'), (year))    #remember to put in the comma
print (('Two years from now it will be'), (year+2))

2023
2029
2020
2031
The current year is 2023
Two years from now it will be 2025

In [ ]:
 year=2024            #the variable year now refers to 2024

 name=('Fresno')
 name=('State')      #the variable name now refers to “State”

In [ ]:
name = input ('Please enter your last name:  ') # you can enter a name and it will be stored

Please enter your last name:  d

In [ ]:
a=1+4         # the variable a now refers to the value 5 
b=5+9         # the variable b now refers to the value 14 
c=a+b         # the variable c now refers to the value 19  
c=c+1         # the variable c now refers to the value 20

In [ ]:
a=10
b=5
result=a+b
print ((a), ('+') , (b), ('='), (result))

10 + 5 = 15

In [ ]:
#build your own program I

In [ ]:
#calc OT pay
name = input ('Please enter your Full Name:  ')
hours = int(input('Enter the hours worked this week: '))

#Get the hourly pay rate.
pay_rate = float(input('Enter the hourly pay rate: '))

#Calculate the gross pay
gross_pay = hours * pay_rate

#Display the gross pay
print(f'Gross pay: ${gross_pay:,.2f}')

#ask for OtHrs and calc OtPay
ohours = int(input('Enter the overtime hours worked this week: '))
opay_rate = float(input('Enter the hourly overtime pay rate: '))
overtime_pay = ohours * opay_rate
print(f'Overtime pay: ${overtime_pay:,.2f}')
combined_pay = overtime_pay + gross_pay
print((name), (','), ('your total gross pay is: '), f'${combined_pay:,.2f}')

Please enter your Full Name:  Stephen Choi
Enter the hours worked this week: 40
Enter the hourly pay rate: 16
Gross pay: $640.00
Enter the overtime hours worked this week: 20
Enter the hourly overtime pay rate: 24
Overtime pay: $480.00
Stephen Choi , your total gross pay is:  $1,120.00

In [ ]:
if  10==10:                      
  print ('equal')

equal

In [ ]:
if (5*2)==10: 
    print ('The expression is equal')

The expression is equal

In [ ]:
if (8+3)!=10:              #The symbols != mean “not equal”
    print ('Not equal')

Not equal

In [ ]:
if  8>5:                   #will print
    print ('8 is greater than 5')

8 is greater than 5

In [ ]:
if 8<5:                  #will not print
    print ('8 is less than 5')

In [ ]:
a=6
b=7
c=3
d=('Fresno')
e=('State')
if a==(c*2):
  print ('6=3*2')

if d!=e:                                # != is used to test for inequality (not equal to)
  print ('The names are not the same')
  b=9 
  print ('b has been set to 9')

6=3*2
The names are not the same
b has been set to 9

In [ ]:
a=10
b=5
operation = ('unknown operation')
result=('???')
print ('Which operation should I perform + or - ?')
operation=input()
if operation==('+'):
    result=a+b                               # Hit the Tab key to indent
if operation==('-'):
    result=a-b                                # Hit the Tab key to indent
print ((a), (operation), (b) ,('='),(result))

Which operation should I perform + or - ?
+
10 + 5 = 15

In [ ]:
#build your own Python Program II
name = input ('Please enter your last name:  ')
a = eval(input(" Please enter an integer"))
b = eval(input(" Please enter an integer"))
operation = ('unknown operation')
result=('???')
print ('Which operation should I perform +, -, *, / ?')
operation=input()
if operation==('+'):
    result=a+b                               # Hit the Tab key to indent
if operation==('-'):
    result=a-b                                # Hit the Tab key to indent
if operation==('*'):
    result=a*b                               # Hit the Tab key to indent
if operation==('/'):
    result=a/b     
print ((a), (operation), (b) ,('='),(result))

Please enter your last name:  choi
 Please enter an integer2
 Please enter an integer3
Which operation should I perform +, -, *, / ?
*
2 * 3 = 6